#game {
    height: 100%;
    display: grid;
    grid-template-columns: 360px auto 360px;
    grid-template-rows: 75% auto;
    grid-template-areas:
        'quick-stats text-area scorebar'
        'detailed-stats detailed-stats detailed-stats';
}

#scorebar {
    grid-area: scorebar;
}

#detailed-stats {
    grid-area: detailed-stats;
}

#quick-stats {
    grid-area: quick-stats;
}

#quick-stats > .stats-container {
    margin: 2rem auto 0 auto;
    width: fit-content;
    transition: filter 300ms ease-out;
}

.stats-container > .time {
    font-size: 3rem;
}

.stats-container > .wpm,
.stats-container > .acc {
    font-size: 2rem;
}

#text-area {
    grid-area: text-area;
    background-color: var(--textarea-background-color);
}
