#rankings {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 65% 35%;
    grid-template-areas:
        'list actions'
        'list controls';
}

#rankings-list {
    grid-area: list;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#rankings-list > .card {
    flex-grow: 1;
    width: calc(100% - 2rem);
    height: calc((var(--page-height) - 11rem) / 10);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#rankings-list > .card:first-child {
    margin-top: 1rem;
}

#rankings-actions {
    grid-area: actions;
}

#rankings-controls {
    grid-area: controls;
}
