#rankings {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 65% 35%;
    grid-template-areas:
        'empty list actions'
        'empty list controls';
}

#rankings-list {
    grid-area: list;
    background-color: lightgrey;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#rankings-actions {
    grid-area: actions;
    background-color: pink;
}

#rankings-controls {
    grid-area: controls;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
