.alias-card {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--panel-color);
    box-sizing: border-box;
    width: calc(100% - 1rem);
    height: calc((var(--page-height) - 11rem) / 10);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border: 1px solid var(--panel-border-color);
    cursor: pointer;
    transition: transform var(--medium-transition) ease;
}

.alias-card:first-child {
    margin-top: 1rem;
}

.alias-card:hover {
    transform: translateX(-0.5rem);
}

.alias-card__placement {
    font-size: 2.4rem;
    width: 4.8rem;
}

.alias-card__name {
    font-size: 1.5rem;
}

.alias-card__username {
    font-size: 1.2rem;
    margin-left: 1rem;
    filter: opacity(50%);
}

.alias-card__stats-container {
    margin-left: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.alias-card__stats-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}
