#game {
    --aside-width: 360px;
    --text-area-horizontal-padding: 4rem;
    height: 100%;
    display: grid;
    grid-template-columns: calc(var(--aside-width) - var(--menu-width-closed) - 1rem) 1fr var(
            --aside-width
        );
    grid-template-rows: 20% 45% 1fr;
    grid-template-areas:
        'nothing text-area title'
        'quick-stats text-area scorebar'
        'detailed-stats detailed-stats detailed-stats';
}

#scorebar {
    grid-area: scorebar;
}

#detailed-stats {
    grid-area: detailed-stats;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6rem;
}

#quick-stats {
    grid-area: quick-stats;
}

#quick-stats {
    margin: 2rem auto 0 auto;
    width: fit-content;
    transition: filter var(--medium-transition);
}

.stats-container > .time {
    font-size: 3rem;
}

.stats-container > .wpm,
.stats-container > .acc {
    font-size: 2rem;
}

#text-area {
    grid-area: text-area;
    background-color: var(--gamearea-background-color);
    position: relative;
    box-sizing: border-box;
    padding: 2rem var(--text-area-horizontal-padding) 0 var(--text-area-horizontal-padding);
}

.text-container {
    margin-bottom: 2rem;
    width: 100%;
    font-size: 28px;
    line-height: 32px;
    word-break: break-word;
    padding-right: 1rem;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    height: calc(100% - 2rem);
    cursor: pointer;
}

.text-container:focus {
    outline: none;
}

.caret {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--caret-color);
}

.scroll-guide {
    height: 1px;
}

.segment-stats-chart-container {
    width: 800px;
    height: 80%;
}

#title {
    grid-area: title;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

.text-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.section-title {
    font-size: 1.1rem;
}

.text-correct {
    color: var(--gametext-correct-color);
}

.text-incorrect {
    color: var(--gametext-incorrect-color);
}

.text-ignored {
    color: var(--gametext-ignored-color);
}

.text-surplus {
    color: var(--gametext-surplus-color);
}

.text-container::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    /* background: linear-gradient( */
    /*     to bottom, */
    /*     var(--gamearea-background-color), */
    /*     transparent 4rem, */
    /*     transparent calc(100% - 2rem), */
    /*     var(--gamearea-background-color) */
    /* ); */
}

.pg {
    /* reserving space for the scrollbar gutter */
    width: calc(100vw - 2 * var(--aside-width) - 2 * var(--text-area-horizontal-padding) - 1rem);
    white-space: pre-wrap;
    color: var(--gametext-inactive-color);
}

.pg::before {
    content: '  ';
}
