#search-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(60%) blur(8px);
    z-index: 1;
}

#search {
    display: flex;
    justify-content: space-between;
    width: 72%;
    padding: 1rem;
    background-color: var(--panel-color);
    border-radius: 0.5rem;
    border: 1px solid var(--panel-border-color);
}

#search > * {
    font-size: 2rem;
}

#search-input {
    width: 80%;
    font-family: Fixedsys;
}
