#profile {
    --profile-row-height: 244px;
    --userinfo-expanded-height: calc(100vh - 2rem);
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    display: grid;
    gap: 1rem 1rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: var(--profile-row-height) 1fr;
    grid-template-areas:
        'info info top recent'
        'graph graph top recent';
}

#user-info-grid {
    display: grid;
    position: relative;
    gap: 1rem 1rem;
    overflow: hidden;
    grid-template-columns: calc(var(--profile-row-height) - 2rem) 1fr 1fr;
    grid-template-rows: 4rem 132px 1fr 4rem;
    grid-template-areas:
        'picture name name'
        'picture aliases stats'
        'bio bio bio'
        'actions actions actions';
}

#user-info {
    height: calc(var(--profile-row-height) - 1rem);
    grid-area: info;
    transition: height var(--long-transition);
    display: flex;
    flex-direction: column;
}

#top-performances {
    display: flex;
    flex-direction: column;
    grid-area: top;
}

#recent-performances {
    display: flex;
    flex-direction: column;
    grid-area: recent;
}

#performance-graph {
    grid-area: graph;
    display: flex;
    flex-direction: column;
}

.user-actions {
    display: flex;
    align-items: center;
    grid-area: actions;
}

.user-actions > * {
    margin-left: 1rem;
}

#user-info .container,
#performance-graph .container,
#top-performances .performance-container,
#recent-performances .performance-container {
    flex-grow: 1;
}

.user-info__picture {
    grid-area: picture;
    height: calc(var(--profile-row-height) - 4rem);
    width: calc(var(--profile-row-height) - 4rem);
    margin: 1rem 0 0 1rem;
    object-fit: contain;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
}

.user-info__username {
    padding-top: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    grid-area: name;
    font-size: 3rem;
}

.user-info__bio {
    padding: 2rem;
    font-size: 1.2rem;
    grid-area: bio;
    white-space: pre-wrap;
    overflow-y: auto;
}

.user-info__bio-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info__bio-editor-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.user-info__bio-editor-actions > * {
    margin-left: 1rem;
}

.user-info__expand {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 36px;
    height: 36px;
    display: flex;
    transform: rotate(0deg);
    transition: transform var(--long-transition);
}

#user-info:hover .user-info__expand {
    transform: rotate(180deg);
}

#user-info:hover {
    height: var(--userinfo-expanded-height);
}
.user-info__aliases {
    grid-area: aliases;
    font-size: 1.2rem;
}

.user-info__rank {
    color: var(--accent-color);
}

.user-info__stats {
    grid-area: stats;
    position: absolute;
    font-size: 1.4rem;
}

.new-alias-enter {
    opacity: 0;
}

.new-alias-enter-active {
    opacity: 1;
    transition: opacity var(--medium-transition);
}

.new-alias-exit {
    opacity: 1;
}

.new-alias-exit-active {
    opacity: 0;
    transition: opacity var(--medium-transition);
}

.performance-container {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.performance-container::-webkit-scrollbar {
    display: none;
}

.performance-container > .card {
    flex-grow: 1;
    max-height: 120px;
}

.performance-container > .card .card-layout {
    flex-direction: column;
    align-items: stretch;
    padding: 0.2rem 0.4rem;
}

.performance-container > .card:not(:last-child) {
    margin-bottom: 0.5rem;
}
