#profile {
    --profile-row-height: 244px;
    --userinfo-expanded-height: calc(100vh - var(--menu-height) - 2rem);
    height: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: calc(var(--profile-row-height) + 1rem) 1fr;
    grid-template-areas:
        'info info top recent'
        'graph graph top recent';
}

#profile > * {
    padding: 1rem;
}

#user-info-grid {
    display: grid;
    position: relative;
    gap: 1rem 1rem;
    overflow: hidden;
    grid-template-columns: calc(var(--profile-row-height) - 2rem) 1fr 1fr;
    grid-template-rows: 4rem 132px auto;
    grid-template-areas:
        'picture name name'
        'picture aliases stats'
        'bio bio bio';
}

#user-info {
    height: calc(var(--profile-row-height) - 1rem);
    grid-area: info;
    transition: height var(--long-transition);
}

#user-search {
    grid-area: search;
}

#top-performances {
    grid-area: top;
    overflow: visible;
}

#recent-performances {
    grid-area: recent;
    overflow: visible;
}

#performance-graph {
    grid-area: graph;
}

.user-info__picture {
    grid-area: picture;
    height: calc(var(--profile-row-height) - 3rem);
    width: calc(var(--profile-row-height) - 3rem);
    margin: 1rem 0 0 1rem;
    object-fit: contain;
    display: inline-block;
    border: 2px solid black;
}

.user-info__username {
    padding-top: 1rem;
    overflow: hidden;
    grid-area: name;
    font-size: 3rem;
}

.user-info__bio {
    padding: 2rem;
    grid-area: bio;
}

.user-info__expand {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    transform: rotate(0deg);
    transition: transform var(--long-transition);
    opacity: 0.3;
}

#user-info:hover .user-info__expand {
    transform: rotate(180deg);
}

#user-info:hover {
    height: var(--userinfo-expanded-height);
}
.user-info__aliases {
    grid-area: aliases;
    font-size: 1.2rem;
}

.user-info__stats {
    grid-area: stats;
    position: absolute;
    font-size: 1.4rem;
}

.new-alias-enter {
    opacity: 0;
}

.new-alias-enter-active {
    opacity: 1;
    transition: opacity var(--medium-transition);
}

.new-alias-exit {
    opacity: 1;
}

.new-alias-exit-active {
    opacity: 0;
    transition: opacity var(--medium-transition);
}
