.segment-stats-chart {
    height: 100%;
    width: 100%;
}

.segment-stats-grid line {
    stroke: var(--panel-border-color);
}

.segment-stats-axis * {
    font-family: Fixedsys;
    fill: var(--text-active-color);
    font-size: 1.1rem;
    text-anchor: middle;
}

.tooltip {
    font-family: Fixedsys;
    background-color: var(--panel-color);
    border: 2px solid var(--panel-border-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

.tooltip__title {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.tooltip > * {
    color: var(--text-active-color);
    line-height: 1.5rem;
}

.tooltip__value {
    padding-left: 1rem;
    font-size: 1.2rem;
}

.tooltip__hint {
    filter: opacity(0.5);
    font-size: 0.8em;
}
