@font-face {
    font-family: 'Fixedsys';
    font-weight: normal;
    font-style: normal;
    src: url(../resources/fsex300.woff2) format('woff2');
}

/* Rules for material icons */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    --quick-transition: 100ms;
    --medium-transition: 300ms;
    --long-transition: 600ms;
    --menu-width-closed: 5rem;
    --menu-width: 16rem;
}

#root {
    font-size: 16px;
    line-height: 1.1;
    font-family: Fixedsys;
    background-color: var(--background-color);
    color: var(--text-active-color);
    transition-property: color, background-color;
    transition: var(--medium-transition) ease;
}

#menu {
    transition: opacity var(--medium-transition) ease-in-out,
        width var(--quick-transition) ease-in-out;
    position: fixed;
    width: var(--menu-width-closed);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-background-color);
    z-index: 1;
}

#menu:hover {
    width: var(--menu-width);
}

#menu:hover .link-name {
    display: block;
}

#menu:hover .nav-logo .link-icon {
    transform: rotate(90deg);
}

#menu-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: var(--menu-width-closed);
    background-color: var(--menu-logo-background-color);
}

#root .nav-logo .link-name {
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-logo .link-icon {
    transition: transform var(--quick-transition) ease;
    transform: rotate(-90deg);
}

.nav-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: var(--menu-width-closed);
    transition: background-color var(--quick-transition) ease;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item:hover {
    background-color: var(--menu-background-hover-color);
    outline: none;
}

.nav-item:hover * {
    color: var(--accent-color);
}

.nav-logo > a {
    justify-content: space-between;
}

.link-name {
    display: none;
    margin-left: 1rem;
    font-size: 1.4rem;
    color: var(--menu-foreground-color);
}
.link-icon {
    margin: 1rem;
    color: var(--menu-foreground-color);
}

.nav-item-selected * {
    color: var(--accent-color);
}

.nav-item > a,
.nav-logo > a {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    transition-property: color, transform;
    transition: var(--quick-transition) ease;
}

.nav-item.nav-item-glowing > * {
    animation: menu-glowing 4s ease-in-out infinite;
}

@keyframes menu-glowing {
    0% {
        color: var(--accent-color);
    }
    50% {
        color: var(--text-active-color);
    }
    100% {
        color: var(--accent-color);
    }
}

#root .pale {
    /* difference between opacity and filter: opacity() is that
     * some browsers provide hardware acceleration for the latter
     * https://css-tricks.com/almanac/properties/f/filter/
     */
    filter: opacity(0.2);
}

/* Needs to have higher specificity to overwrite other styles */
#root .hidden {
    display: none;
}

#root .invis {
    filter: opacity(0);
}

#root .hint {
    filter: opacity(0.5);
    white-space: pre-wrap;
}

#root .cursor-hidden {
    cursor: none;
}

#root .page {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - var(--menu-width-closed) - 3rem);
    height: 100%;
    margin-left: calc(var(--menu-width-closed) + 1rem);
}

#root .unit {
    font-size: 0.8em;
    filter: opacity(0.6);
}

.container {
    border-radius: 0.5rem;
    background-color: var(--panel-color);
    box-sizing: border-box;
    border: 2px solid var(--panel-border-color);
}

.container-title {
    display: inline-block;
    line-height: 1rem;
    margin-left: 0.5rem;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--medium-transition), transform var(--medium-transition) ease-out;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity var(--medium-transition), transform var(--medium-transition) ease-out;
}

#menu.menu-exit-done {
    display: none;
}

.menu-enter,
.menu-exit-done,
.menu-exit-active {
    opacity: 0;
}

.menu-enter-active {
    opacity: 1;
}

.button {
    color: var(--text-active-color);
    height: fit-content;
    width: fit-content;
    font-family: Fixedsys;
    display: inline-block;
    border-radius: 0.5rem;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 0.3rem;
    cursor: pointer;
    transition: transform var(--quick-transition), box-shadow var(--quick-transition) ease;
    font-size: 1.2rem;
}

.button-primary {
    background-color: var(--accent-color);
    color: var(--accent-foreground-color);
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    transform: translate(2px, 2px);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-active-color);
}

.list-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.list-results-indicator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: max(1rem, 2vw);
}

.list-controls button {
    /* Using magic viewport numbers for button dimensions...
     * Not sure if a good idea
     */
    width: 4.8vh;
    height: 4.8vh;
    margin: 0.5rem;
}

.list-actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-left: 4rem;
    font-size: 2rem;
}

.list-actions > *:not(:last-child) {
    margin-bottom: 2rem;
}

.list-controls {
    display: flex;
    flex-direction: row;
}

.no-performances {
    font-size: 1.5rem;
    filter: opacity(0.5);
}

.validation-error {
    color: var(--warning-color);
}

textarea {
    resize: none;
}
