@font-face {
    font-family: 'Fixedsys';
    font-weight: normal;
    font-style: normal;
    src: url(./res/fsex300.woff2) format('woff2');
}

html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    font-size: 16px;
    line-height: 1.1;
    font-family: Fixedsys;
    --quick-transition: 100ms;
    --medium-transition: 300ms;
    --long-transition: 600ms;
    --accent-color: #ffbb00;
    --menu-height: 5rem;
    --perf-gold1: #f0b52b;
    --perf-gold2: #d4af37;
    --perf-gold3: #f0a326;
    --perf-silver1: #a4a4a4;
    --perf-silver2: #8d8d8d;
    --perf-silver3: #dbdbdb;
    --perf-bronze1: #aa682a;
    --perf-bronze2: #b46727;
    --perf-bronze3: #f3b164;
    --perf-normal: #ead8d2;
    --white-shine-color: rgba(255, 255, 255, 0.7);
    --silver-shine-color: rgba(255, 255, 255, 0.4);
    --no-shine-color: rgba(0, 0, 0, 0);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#menu {
    margin: 0 auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    height: var(--menu-height);
    display: flex;
    align-items: flex-end;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#menu li {
    font-size: max(1.5rem, 2.5vw);
    padding: 0 max(1.5rem, 2.5vw);
}

#menu li > a:hover {
    color: var(--accent-color);
    transform: translateY(-0.2rem);
    outline: none;
}

#menu li > a {
    transition-property: color, transform;
    transition: 0.2s ease;
}

:root .pale {
    /* difference between opacity and filter: opacity() is that
     * some browsers provide hardware acceleration for the latter
     * https://css-tricks.com/almanac/properties/f/filter/
     */
    filter: opacity(0.2);
}

/* Needs to have higher specificity to overwrite other styles */
:root .hidden {
    display: none;
}

:root .invis {
    filter: opacity(0);
}

.page {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--menu-height));
    top: 0;
    left: 0;
}

.unit {
    font-size: 0.8em;
    filter: opacity(0.6);
}

.container {
    border-radius: 0.5rem;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}

.container-title {
    display: inline-block;
    margin-left: 0.5rem;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--medium-transition),
        transform var(--medium-transition) ease-out;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity var(--medium-transition),
        transform var(--medium-transition) ease-out;
}

.button {
    height: fit-content;
    width: fit-content;
    font-family: Fixedsys;
    display: inline-block;
    border-radius: 0.5rem;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 0.3rem;
    cursor: pointer;
    transition: transform var(--quick-transition),
        box-shadow var(--quick-transition) ease;
    font-size: 1.2rem;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    transform: translate(2px, 2px);
}

a {
    text-decoration: none;
    color: #000;
}
