.light {
    --background-color: #eee;
    --text-active-color: #000;
    --text-inactive-color: #888;
    --gamearea-background-color: #fff;
    --gametext-correct-color: black;
    --gametext-incorrect-color: red;
    --gametext-inactive-color: #6b6b6b;
    --panel-color: #fff;
    --panel-border-color: #d8d8d8;
    --accent-color: #dd9900;
    --accent-foreground-color: var(--text-active-color);
    --caret-color: #000;
    --warning-color: #f0230c;
    --card-hover-color: #000;
    --gold-bg1-color: #f0b52b;
    --gold-bg2-color: #d4af37;
    --gold-bg3-color: #f0a326;
    --gold-text-color: var(--text-active-color);
    --silver-bg1-color: #a4a4a4;
    --silver-bg2-color: #8d8d8d;
    --silver-bg3-color: #dbdbdb;
    --silver-text-color: var(--text-active-color);
    --bronze-bg1-color: #aa682a;
    --bronze-bg2-color: #b46727;
    --bronze-bg3-color: #f3b164;
    --bronze-text-color: var(--text-active-color);
    --white-shine-color: rgba(255, 255, 255, 0.7);
    --silver-shine-color: rgba(255, 255, 255, 0.4);
    --no-shine-color: rgba(0, 0, 0, 0);
}

.dark {
    --background-color: #333;
    --text-active-color: #fff;
    --text-inactive-color: #888;
    --gamearea-background-color: #fff;
    --gametext-correct-color: white;
    --gametext-incorrect-color: red;
    --gametext-inactive-color: lightgrey;
    --panel-color: #555;
    --panel-border-color: #777;
    --accent-color: #ffcc22;
    --accent-foreground-color: #222;
    --caret-color: #fff;
    --warning-color: #ff8a7d;
    --card-hover-color: #fff;
    --gold-bg1-color: #f0b52b;
    --gold-bg2-color: #d4af37;
    --gold-bg3-color: #f0a326;
    --gold-text-color: #222;
    --silver-bg1-color: #a4a4a4;
    --silver-bg2-color: #8d8d8d;
    --silver-bg3-color: #dbdbdb;
    --silver-text-color: #222;
    --bronze-bg1-color: #aa682a;
    --bronze-bg2-color: #b46727;
    --bronze-bg3-color: #f3b164;
    --bronze-text-color: #222;
    --white-shine-color: rgba(255, 255, 255, 0.7);
    --silver-shine-color: rgba(255, 255, 255, 0.4);
    --no-shine-color: rgba(0, 0, 0, 0);
}
