.light {
    --background-color: #eee;
    --text-active-color: #000;
    --text-inactive-color: #888;
    --textarea-background-color: #fff;
    --panel-color: #fff;
    --panel-border-color: #d8d8d8;
    --accent-color: #ffbb00;
    --card-hover-color: #000;
    --perf-gold1: #f0b52b;
    --perf-gold2: #d4af37;
    --perf-gold3: #f0a326;
    --perf-silver1: #a4a4a4;
    --perf-silver2: #8d8d8d;
    --perf-silver3: #dbdbdb;
    --perf-bronze1: #aa682a;
    --perf-bronze2: #b46727;
    --perf-bronze3: #f3b164;
    --perf-normal: var(--panel-color);
    --white-shine-color: rgba(255, 255, 255, 0.7);
    --silver-shine-color: rgba(255, 255, 255, 0.4);
    --no-shine-color: rgba(0, 0, 0, 0);
}

.dark {
    --background-color: #333;
    --text-active-color: #fff;
    --text-inactive-color: #888;
    --textarea-background-color: #fff;
    --panel-color: #555;
    --panel-border-color: #222;
    --accent-color: #ffbb00;
    --card-hover-color: #000;
    --perf-gold1: #f0b52b;
    --perf-gold2: #d4af37;
    --perf-gold3: #f0a326;
    --perf-silver1: #a4a4a4;
    --perf-silver2: #8d8d8d;
    --perf-silver3: #dbdbdb;
    --perf-bronze1: #aa682a;
    --perf-bronze2: #b46727;
    --perf-bronze3: #f3b164;
    --perf-normal: var(--panel-color);
    --white-shine-color: rgba(255, 255, 255, 0.7);
    --silver-shine-color: rgba(255, 255, 255, 0.4);
    --no-shine-color: rgba(0, 0, 0, 0);
}
