.gold {
    --color1: var(--gold-bg1-color);
    --color2: var(--gold-bg2-color);
    --color3: var(--gold-bg3-color);
    --text-color: var(--gold-text-color);
    --shine-color: var(--white-shine-color);
    --border-color: transparent;
}

.silver {
    --color1: var(--silver-bg1-color);
    --color2: var(--silver-bg2-color);
    --color3: var(--silver-bg3-color);
    --text-color: var(--silver-text-color);
    --shine-color: var(--silver-shine-color);
    --border-color: transparent;
}

.bronze {
    --color1: var(--bronze-bg1-color);
    --color2: var(--bronze-bg2-color);
    --color3: var(--bronze-bg3-color);
    --text-color: var(--bronze-text-color);
    --shine-color: var(--no-shine-color);
    --border-color: transparent;
}

.normal {
    --color1: var(--panel-color);
    --color2: var(--panel-color);
    --color3: var(--panel-color);
    --text-color: var(--text-active-color);
    --shine-color: var(--no-shine-color);
    --border-color: var(--panel-border-color);
}

.inactive {
    --color1: var(--panel-color);
    --color2: var(--panel-color);
    --color3: var(--panel-color);
    --text-color: var(--text-inactive-color);
    --shine-color: var(--no-shine-color);
    --border-color: var(--panel-border-color);
}

.card {
    transition: transform var(--medium-transition) ease;
    border-radius: 0.5rem;
    flex-basis: content;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    color: var(--text-color);
    background: linear-gradient(
        45deg,
        var(--color1),
        var(--color2),
        var(--color3)
    );
}

.card > .card-selected {
    border: 2px solid var(--accent-color);
}

.card-animation {
    /* background-size has to come after background
     * otherwise the animation does not work! */
    background: linear-gradient(
        30deg,
        rgba(0, 0, 0, 0),
        var(--shine-color),
        rgba(0, 0, 0, 0)
    );
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    background-size: 400% 400%;
    animation: shine 8s ease infinite;
    height: 100%;
}

.card-layout,
.card-actions {
    padding: 0 1rem;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    transition: filter var(--quick-transition) ease;
}

.card-layout {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-actions {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.card-actions > * {
    color: var(--text-color);
}

.card-actions > *:not(:first-child) {
    margin-left: 1rem;
}

.card-actions > *:last-child {
    margin-right: 1rem;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card:hover {
    transform: translateX(-0.5rem);
    box-shadow: inset 0 0 1px 1px var(--card-hover-color);
}
