.performance__title {
    font-size: 1.3rem;
}

.performance__section,
.performance__when {
    filter: opacity(50%);
    font-size: 0.9rem;
}

.performance__section--when,
.performance__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.performance__stats > * {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
